In [195]:
import pandas as pd
import numpy as np
from pathlib import Path
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.metrics import explained_variance_score
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestClassifier

In [165]:
# Load the data
file_path = Path('team_cautious_waffle-JTbranch/nfl_2020_player_stats.csv')
nfl_ml_df = pd.read_csv(file_path)
nfl_ml_df.set_index("name", inplace=True)

In [196]:
from config import db_password

In [230]:
# Create the connection to the PostgreSQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/DFS"
engine = create_engine(db_string)
# movies_df.to_sql(name='movies', con=engine, if_exists='replace')
complete_nfl_df = pd.read_sql_table('nfl2020final', con=engine, index_col='name')

In [247]:
complete_nfl_df

,completed_passes,attempted_passes,passing_yards,passing_touchdowns,interceptions_thrown,times_sacked,yards_lost_from_sacks,longest_pass,quarterback_rating,rush_attempts,...,receiving_touchdowns,longest_reception,fumbles,fumbles_lost,fumbles_recovered_for_touchdown,kickoff_return_touchdown,punt_return_touchdown,position,fantasy_points,team
name,,,,,,,,,,,,,,,,,,,,,
Alvin Kamara,0,0,0,0,0,0,0,0,0.0,11,...,0,11,0,0,0,0,0,RB,22.40,NOR
Alvin Kamara,0,0,0,0,0,0,0,0,0.0,15,...,0,8,0,0,0,0,0,RB,17.70,NOR
Alvin Kamara,0,0,0,0,0,0,0,0,0.0,11,...,0,-2,0,0,0,0,0,RB,6.20,NOR
Alvin Kamara,0,0,0,0,0,0,0,0,0.0,12,...,0,47,1,0,0,0,0,RB,25.30,NOR
Alvin Kamara,0,0,0,0,0,0,0,0,0.0,19,...,0,29,0,0,0,0,0,RB,20.90,NOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Andre Roberts,0,0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,WR,0.00,BUF
Nate Sudfeld,5,12,32,0,1,2,16,10,14.6,2,...,0,0,1,1,0,0,0,QB,0.48,PHI
Dede Westbrook,0,0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,WR,0.00,JAX
Dede Westbrook,0,0,0,0,0,0,0,0,0.0,0,...,0,4,0,0,0,0,0,WR,1.40,JAX
Kendall Hinton,1,9,13,0,2,1,1,13,0.0,2,...,0,0,0,0,0,0,0,WR,-0.78,DEN

In [234]:
nfl_ml_df = complete_nfl_df.drop(['team'], axis=1)

In [235]:
nfl_ml_df['quarterback_rating'] = nfl_ml_df['quarterback_rating'].astype('int64')
nfl_ml_df['fantasy_points'] = nfl_ml_df['fantasy_points'].astype('int64')

In [236]:
nfl_ml_df = pd.get_dummies(nfl_ml_df)

In [237]:
nfl_ml_df['position_QB'] = nfl_ml_df['position_QB'].astype('int64')
nfl_ml_df['position_RB'] = nfl_ml_df['position_RB'].astype('int64')
nfl_ml_df['position_TE'] = nfl_ml_df['position_TE'].astype('int64')
nfl_ml_df['position_WR'] = nfl_ml_df['position_WR'].astype('int64')
nfl_ml_df.dtypes

completed_passes                   int64
attempted_passes                   int64
passing_yards                      int64
passing_touchdowns                 int64
interceptions_thrown               int64
times_sacked                       int64
yards_lost_from_sacks              int64
longest_pass                       int64
quarterback_rating                 int64
rush_attempts                      int64
rush_yards                         int64
rush_touchdowns                    int64
longest_rush                       int64
times_pass_target                  int64
receptions                         int64
receiving_yards                    int64
receiving_touchdowns               int64
longest_reception                  int64
fumbles                            int64
fumbles_lost                       int64
fumbles_recovered_for_touchdown    int64
kickoff_return_touchdown           int64
punt_return_touchdown              int64
fantasy_points                     int64
position_QB                        int64
position_RB                        int64
position_TE                        int64
position_WR                        int64
dtype: object

## Split data into features and target

In [238]:
# Create our features
X = nfl_ml_df.copy() 
X = X.drop(['fantasy_points'], axis=1)

# Create our target
y = nfl_ml_df['fantasy_points']

X.head()

,completed_passes,attempted_passes,passing_yards,passing_touchdowns,interceptions_thrown,times_sacked,yards_lost_from_sacks,longest_pass,quarterback_rating,rush_attempts,...,longest_reception,fumbles,fumbles_lost,fumbles_recovered_for_touchdown,kickoff_return_touchdown,punt_return_touchdown,position_QB,position_RB,position_TE,position_WR
name,,,,,,,,,,,,,,,,,,,,,
Alvin Kamara,0,0,0,0,0,0,0,0,0,11,...,11,0,0,0,0,0,0,1,0,0
Alvin Kamara,0,0,0,0,0,0,0,0,0,15,...,8,0,0,0,0,0,0,1,0,0
Alvin Kamara,0,0,0,0,0,0,0,0,0,11,...,-2,0,0,0,0,0,0,1,0,0
Alvin Kamara,0,0,0,0,0,0,0,0,0,12,...,47,1,0,0,0,0,0,1,0,0
Alvin Kamara,0,0,0,0,0,0,0,0,0,19,...,29,0,0,0,0,0,0,1,0,0

In [239]:
# Check the balance of our target values
y.value_counts()

 0      365
 4      254
 3      249
 2      246
 6      228
       ...
-23       1
-19       1
-11       1
 56       1
-113      1
Name: fantasy_points, Length: 70, dtype: int64

In [240]:
# Split into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78, train_size=0.84)

# Determine the shape of our training and testing sets.
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3600, 27)
(686, 27)
(3600,)
(686,)

## Random Forest Classifier to determine feature importance

In [241]:
# Creating a StandardScaler instance
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [242]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [243]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [244]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)
predictions

array([ 3, 14,  4, 14, 35,  8,  8, 29,  5, 11, 13,  8,  3,  6,  9, 19,  0,
       10, 17,  4,  6, 14,  3,  1, 14, 12,  6,  5, 12,  0,  0,  7,  8,  0,
       24, 10,  4,  1, 12,  0, 23,  2, 31,  4, 16,  9, 10,  3,  2, 10,  0,
        5, 21, 38,  0,  0,  3,  2, 14, 11,  8,  6,  8, 15, 18, 16,  5, 17,
       16,  5,  4,  0, 29, 10,  2,  7,  3,  6,  3, 22,  5,  0,  1, 26,  1,
        1, 11,  0,  6,  7,  3,  9,  0,  6,  4,  7,  0, 12,  2,  5, 10, 13,
        7,  2, 17,  6,  0,  2, 30,  8,  2, 17, 12, 12, 19, 17,  7, 10,  2,
       20,  8, 22, 25, 14, 10, 23,  0,  8,  3,  2,  7,  0,  9,  5, 17,  2,
        2, 29, 12,  8, 12,  5, 13, 15,  5, 23, 23,  2,  0,  0,  0,  3, 24,
        9,  0,  1,  8,  0, 16,  7, 12,  8, 16,  3,  3, 11,  5,  0, 26,  4,
        3, 14,  9,  1,  0,  0, 25, 10,  1, 14,  2,  9, 15,  1, 15,  5,  8,
       13, 14,  3, 30, 10,  2, 11, 31, 17,  3,  1,  1,  7, 19, 16,  6, 18,
       22, 14, 24,  2,  1, 14, 12, 12,  8,  1,  0, 22, 12,  7,  3,  6, 22,
        4, 10, 12,  3,  1,  1, 21, 15,  7,  2,  7,  8,  4,  5,  2,  3,  2,
       19, 16,  1, 22,  7,  0, 15, 14, 25,  4, 11, 11,  6,  2, 17,  1,  3,
       14, 14,  5,  1, 20, 14,  2, 42,  6,  9,  4, 11, 19, 25,  6,  1, 21,
       25, 19,  3, 24,  9, 18, 13,  5,  4,  6, 10,  4, 19, 34, 13,  4, 11,
        0, 23,  5, 15,  8,  5,  8,  8,  0, 18,  8,  1,  3, 22, 10, 10, 14,
        3, 13,  0,  1,  1,  5,  7, 20,  5, 15,  4,  8,  0,  5,  2, 27, 31,
        9,  1,  2,  7, 10, 43,  2,  4, 12, 10, 11,  2, 15,  3,  8, 13, 12,
       33, 13, 12,  5,  2, 20,  9, 14,  3,  3, 12,  6,  7, 23,  4, 12, 10,
       26,  9,  4,  9,  0,  6,  4,  4,  5,  3, 23,  6, 10,  7,  4,  3, 19,
       13, 14, 29,  6, 13,  5, 18,  3,  4,  4,  2, 14, 27, 26, 14,  2, 10,
        7, 10, 10,  6,  9, 17,  4, 28, 40,  4, 11, 19,  6,  2,  3,  4,  6,
       12, 28, 12,  0, 28,  7, 17,  5,  3, 14, 11,  8, 20,  6,  9,  0,  3,
       13, 10,  9,  1,  8,  3, 30, 13, 10,  9,  2, 34,  4,  3,  4,  0,  7,
        9,  1, 17, 10, 15,  7, 22, 18, 25,  3,  3,  5,  1, 16, 23,  8,  1,
        8, 32, 29, 20, 28,  5,  6, 20,  0,  2, 11, 18,  5, 27, 10, 30, 23,
        2,  2,  9, 19, 22, 20,  1, 10,  4,  0, 19,  0, 14,  3,  4, 15, 16,
        9,  2,  4, 56,  2,  3,  6, 19, 13,  7,  7,  2, 29,  3,  6,  9,  0,
       12,  9, 26,  5, 10,  4, 17, 34,  6,  1,  9, 14, 10,  7,  5,  6,  7,
        0, 22, 18,  6,  8, 11, 19, 29, 30,  8, 24, 19,  9,  0,  5,  8,  7,
       24, 10,  2, 13, 10,  8,  3,  6, 17,  0, 10, 12,  8, 20,  4,  4, 27,
       17,  2,  0,  9,  6, 12,  0,  8, 14, 12,  6, 10,  4, 30, 34,  7,  0,
        0, 17,  9,  6,  2, 13,  5,  3,  8, 12,  2,  6,  3,  3, 10,  4,  4,
        5,  2,  8, 15,  8,  1, 14,  3,  5,  4, 19,  0,  4, 29,  1, 26,  0,
       22,  5,  3, 10,  4, 12, 11,  7, 27,  7,  2, 12,  4, 26,  8, 10, 16,
       16, 22, 10, 20,  3,  5,  4,  6, 38,  7,  8,  6,  0, 21, 10,  5, 15,
       14, 10, 12,  9,  8,  0, 18,  3,  4, 31, 30, 10,  3, 16,  4,  5, 28,
        3, 14,  9, 22, 23, 23,  1, 12, 19,  2, 12, 16, 19, 23,  8,  4,  4,
        6,  0, 29, 12, 19, 20], dtype=int64)

In [245]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.01622004, 0.01584347, 0.02056983, 0.00999011, 0.00509934,
       0.00738047, 0.01052101, 0.0152823 , 0.01590357, 0.05913319,
       0.10257377, 0.02259535, 0.06817016, 0.06941751, 0.11995226,
       0.20469824, 0.04636061, 0.13040646, 0.01494258, 0.01121587,
       0.00293395, 0.00132071, 0.0020571 , 0.00137226, 0.00783954,
       0.0069557 , 0.0112446 ])

In [246]:
# Features sorted by their importance
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.2046982362142305, 'receiving_yards'),
 (0.13040645747989937, 'longest_reception'),
 (0.11995226254175373, 'receptions'),
 (0.10257377107414953, 'rush_yards'),
 (0.06941750796884143, 'times_pass_target'),
 (0.06817015821796776, 'longest_rush'),
 (0.0591331908262976, 'rush_attempts'),
 (0.04636061368128017, 'receiving_touchdowns'),
 (0.02259535330176367, 'rush_touchdowns'),
 (0.020569828006667745, 'passing_yards'),
 (0.01622003828680867, 'completed_passes'),
 (0.015903567514164482, 'quarterback_rating'),
 (0.015843474120409293, 'attempted_passes'),
 (0.015282302683960436, 'longest_pass'),
 (0.01494257548546067, 'fumbles'),
 (0.011244600453054244, 'position_WR'),
 (0.011215868800036182, 'fumbles_lost'),
 (0.01052101055779779, 'yards_lost_from_sacks'),
 (0.009990114599919142, 'passing_touchdowns'),
 (0.007839536059469415, 'position_RB'),
 (0.007380472123013414, 'times_sacked'),
 (0.006955697742615223, 'position_TE'),
 (0.0050993415110841865, 'interceptions_thrown'),
 (0.002933951378278172, 'fumbles_recovered_for_touchdown'),
 (0.002057100136233732, 'punt_return_touchdown'),
 (0.0013722597723980175, 'position_QB'),
 (0.0013207094624456826, 'kickoff_return_touchdown')]

## Linear Regression Model

In [216]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [217]:
y_pred = model.predict(X_test)

In [218]:
explained_variance_score(y_test, y_pred)

0.9959988819924703

In [219]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.99599877282801

## Positional DFs

In [288]:
qb_df = complete_nfl_df[complete_nfl_df["position"] == "QB"]

In [289]:
qb_df = qb_df.drop(['receiving_yards', 'receptions', 'longest_reception', 'times_pass_target', 'longest_rush', 'receiving_touchdowns', 'fumbles_recovered_for_touchdown', 'punt_return_touchdown', 'kickoff_return_touchdown', 'team', 'position'], axis=1)

In [290]:
qb_df.head()

,completed_passes,attempted_passes,passing_yards,passing_touchdowns,interceptions_thrown,times_sacked,yards_lost_from_sacks,longest_pass,quarterback_rating,rush_attempts,rush_yards,rush_touchdowns,fumbles,fumbles_lost,fantasy_points
name,,,,,,,,,,,,,,,
Josh Allen,27,36,320,4,0,0,0,50,138.7,4,35,0,0,0,35.30
Josh Allen,28,40,359,2,0,1,7,55,114.5,3,33,2,1,0,40.66
Josh Allen,32,40,375,4,0,1,7,35,139.1,6,11,0,2,1,34.10
Josh Allen,32,49,284,2,2,0,0,31,77.3,7,38,0,0,0,29.36
Josh Allen,30,43,307,0,0,2,11,38,90.0,11,61,0,1,1,20.38

In [291]:
rb_df = complete_nfl_df[complete_nfl_df["position"] == "RB"]

In [292]:
rb_df = rb_df.drop(['passing_yards', 'completed_passes', 'quarterback_rating', 'attempted_passes', 'longest_pass', 'passing_touchdowns', 'yards_lost_from_sacks', 'times_sacked', 'interceptions_thrown', 'fumbles_recovered_for_touchdown', 'team', 'position'], axis=1)

In [293]:
rb_df.head()

,rush_attempts,rush_yards,rush_touchdowns,longest_rush,times_pass_target,receptions,receiving_yards,receiving_touchdowns,longest_reception,fumbles,fumbles_lost,kickoff_return_touchdown,punt_return_touchdown,fantasy_points
name,,,,,,,,,,,,,,
Alvin Kamara,11,50,1,16,10,7,44,0,11,0,0,0,0,22.4
Alvin Kamara,15,88,1,37,3,2,9,0,8,0,0,0,0,17.7
Alvin Kamara,11,54,0,15,2,1,-2,0,-2,0,0,0,0,6.2
Alvin Kamara,12,67,0,20,13,9,96,0,47,1,0,0,0,25.3
Alvin Kamara,19,83,1,12,4,3,36,0,29,0,0,0,0,20.9

In [294]:
wr_df = complete_nfl_df[complete_nfl_df["position"] == "WR"]

In [295]:
wr_df = wr_df.drop(['passing_yards', 'completed_passes', 'quarterback_rating', 'attempted_passes', 'longest_pass', 'passing_touchdowns', 'yards_lost_from_sacks', 'times_sacked', 'interceptions_thrown', 'fumbles_recovered_for_touchdown', 'team', 'position'], axis=1)

In [296]:
wr_df.head()

,rush_attempts,rush_yards,rush_touchdowns,longest_rush,times_pass_target,receptions,receiving_yards,receiving_touchdowns,longest_reception,fumbles,fumbles_lost,kickoff_return_touchdown,punt_return_touchdown,fantasy_points
name,,,,,,,,,,,,,,
Davante Adams,0,0,0,0,6,6,46,1,9,0,0,0,0,16.6
Davante Adams,0,0,0,0,10,7,115,1,56,0,0,0,0,27.5
Davante Adams,0,0,0,0,9,7,106,1,33,0,0,0,0,26.6
Davante Adams,0,0,0,0,12,10,173,1,49,0,0,0,0,36.3
Davante Adams,0,0,0,0,16,13,196,2,45,0,0,0,0,47.6

In [297]:
te_df = complete_nfl_df[complete_nfl_df["position"] == "TE"]

In [298]:
te_df = te_df.drop(['passing_yards', 'completed_passes', 'quarterback_rating', 'attempted_passes', 'longest_pass', 'passing_touchdowns', 'yards_lost_from_sacks', 'times_sacked', 'interceptions_thrown', 'fumbles_recovered_for_touchdown', 'team', 'position'], axis=1)

In [299]:
te_df.head()

,rush_attempts,rush_yards,rush_touchdowns,longest_rush,times_pass_target,receptions,receiving_yards,receiving_touchdowns,longest_reception,fumbles,fumbles_lost,kickoff_return_touchdown,punt_return_touchdown,fantasy_points
name,,,,,,,,,,,,,,
Travis Kelce,0,0,0,0,10,8,136,1,32,0,0,0,0,30.60
Travis Kelce,0,0,0,0,10,8,127,1,22,0,0,0,0,29.86
Travis Kelce,0,0,0,0,3,3,31,0,17,0,0,0,0,6.10
Travis Kelce,0,0,0,0,7,6,87,0,29,0,0,0,0,14.70
Travis Kelce,0,0,0,0,14,9,90,1,20,0,0,0,0,24.00

## Repeat ML analysis with positional dfs

In [300]:
# Create our features
XX = qb_df.copy() 
XX = XX.drop(['fantasy_points'], axis=1)

# Create our target
yy = qb_df['fantasy_points']

XX.head()

,completed_passes,attempted_passes,passing_yards,passing_touchdowns,interceptions_thrown,times_sacked,yards_lost_from_sacks,longest_pass,quarterback_rating,rush_attempts,rush_yards,rush_touchdowns,fumbles,fumbles_lost
name,,,,,,,,,,,,,,
Josh Allen,27,36,320,4,0,0,0,50,138.7,4,35,0,0,0
Josh Allen,28,40,359,2,0,1,7,55,114.5,3,33,2,1,0
Josh Allen,32,40,375,4,0,1,7,35,139.1,6,11,0,2,1
Josh Allen,32,49,284,2,2,0,0,31,77.3,7,38,0,0,0
Josh Allen,30,43,307,0,0,2,11,38,90.0,11,61,0,1,1

In [ ]:
yy.

In [301]:
# Split into Train and Test sets
XX_train, XX_test, yy_train, yy_test = train_test_split(XX, yy, random_state=78, train_size=0.84)

# Determine the shape of our training and testing sets.
print(XX_train.shape)
print(XX_test.shape)
print(yy_train.shape)
print(yy_test.shape)

(500, 14)
(96, 14)
(500,)
(96,)

In [302]:
# Creating a StandardScaler instance
scaler = StandardScaler()

# Fitting the Standard Scaler with the training data
XX_scaler = scaler.fit(XX_train)

# Scale the data
XX_train_scaled = XX_scaler.transform(XX_train)
XX_test_scaled = XX_scaler.transform(XX_test)

In [303]:
# Create a random forest classifier.
qb_rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [304]:
# Fitting the model
qb_rf_model = qb_rf_model.fit(XX_train_scaled, yy_train)

ValueError: Unknown label type: 'continuous'

In [305]:
# Making predictions using the testing data.
qb_predictions = qb_rf_model.predict(XX_test_scaled)
qb_predictions

AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'

In [306]:
# Calculate feature importance in the Random Forest model.
qb_importances = qb_rf_model.feature_importances_
qb_importances

AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'

In [307]:
# Features sorted by their importance
sorted(zip(qb_rf_model.feature_importances_, XX.columns), reverse=True)

AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'